{{yield}}

{{#link-to 'songs' result.id class="list-group-item"}}
  <p class="list-group-item-heading">{{result.title}}</p>
  <p class="list-group-item-text">{{result.primary_artist}}</p>
{{/link-to}}
