@import 'bootstrap';

body {
  background-color: lavender;
}
/*.song-info{
  display: inline-block;
  float: left;
}

div.container{
  display: inline-block;
}

#viewport{
  display: inline-block;
  float: right;
}*/
