<h2>About</h2>
<p>Sampling is much more than a simple recombination of material.</p>
<p>It is a reimagining and recontextualizing of sounds to create a kind</p>
<p>of cultural thread that informs a musical discourse.</p>
<iframe src="https://embed.ted.com/talks/mark_ronson_how_sampling_transformed_music" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{{outlet}}
