<nav class="navbar navbar-default">
  <div class="container-fluid">

    <form method="get" action="results" class="navbar-form navbar-right" id="search-dark">
      <input name="q" type="text" size="40" placeholder="Search..." />
    </form>
    <!-- {{#list-filter class="navbar-form navbar-left"
      filter=(action 'filterBySearchWord')
      as |results|}}

      <div class="list-group">
        {{#each results as |resultUnit|}}
          {{search-result result=resultUnit}}
        {{/each}}
      </div>
    {{/list-filter}} -->

    <div class="navbar-header">
      <a class="navbar-title" href="">Thread Head</a>
      <!-- <p class="navbar-description">A visualization tool for music samples</p> -->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about">About</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
<!-- {{model}} -->
