<!-- {{outlet}} -->
<h1>Results</h1>

{{#list-filter
  filter=(action 'filterBySearchWord')
  as |results|}}
  <div class="list-group">
    {{#each results as |resultUnit|}}
      {{search-result result=resultUnit}}
    {{/each}}
  </div>
{{/list-filter}}
